<!DOCTYPE html>
<html>
  <head>
    <title>BanterBox</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
    <h1>Welcome to BanterBox 🌿</h1>
    <p>This is your new full-stack Rails app up and running.</p>
  </body>
</html>
